.inicio-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.inicio-text-content,
.inicio-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.inicio-img img {
    max-width: 100%;
    height: auto;
}

.intro-content, 
.pricing-content {
    max-width: 64rem;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

.top3-grid-content,
.gallery-grid-content,
.work-grid-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -3rem;
    left: -2rem;
    transform: rotate(5deg);
    /* rotação 5 graus */
} 

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    border-radius: 1rem;
}

.gallery-img img {
    transition: all .3s ease-in-out;
}

.gallery-img img:hover {
    transform: rotate(5deg) scale(1.2);
}